{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}





<h1>{{chore.name}}</h1>
<div>

    <h3>Luokat: 
        {% for category in categories %}
        {% for cate in category %}

        {{cate}}

        {% endfor %}
        {% endfor %}
    </h3>
</div>
<ul>
    {% if chore.urgent %}
    <li><strong>Tärkeysaste:</strong> Tärkeä</li>
    {%else%}
    <li><strong>Tärkeysaste:</strong> Normaali</li>
    {% endif %}
</ul>
<!-- Painikkeet tähän -->
<div>
    {{forms.poista_nappi("#{base_path}/askare/#{chore.id}/poista")}} <a href="{{base_path}}/askare/{{chore.id}}/muokkaus" class="btn btn-default">Muokkaa</a>

</div>
<!-- Tiedot tulee listana tähän -->


{% endblock %}
