{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<div class="alert alert-success">
  {{message}}
</div>
{% if user_logged_in %}
<h1>Käyttäjän {{user_logged_in.name}} luokat</h1>
{% endif %}


 

  <p>
    <a href="{{base_path}}/luokka/uusi" class="btn btn-success">Lisää luokka</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Luokka</th>
        <th>Poista</th>
      </tr>
    </thead>

    <tbody>
      {% for category in categories %}
        <tr>
          <td><a href="{{base_path}}/luokka/{{category.id}}">{{category.name}}</td>
          <td>{{forms.poista_nappi("#{base_path}/luokka/#{category.id}/poista")}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}